#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* ####################### */

.course-card {
	border: 1px solid #ddd;
	border-radius: 7px;
	padding: 20px;
	margin: 10px;
	width: 300px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.course-card img {
	max-width: 100%;
	border-radius: 5px;
}

.course-title {
	font-size: 1.3rem;
	text-align: left;
	margin: 10px 0;
}

.instructor {
	font-size: 1rem;
	text-align: left;
	padding: 0 0px;
	margin: 5px 0;
	color: #999;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 5px 0;
}

.stars {
	color: #ffcc00;
	padding: 0 10px;
}

.rating-count {
	margin-left: 5px;
	color: #999;
}

.price {
	font-size: 1.1rem;
	text-align: left;
	font-weight: bold;
	margin: 5px 0;
}

.btn {
	display: inline-block;
	width: 85%;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin: 5px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0056b3;
}
